.flow{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 30px 0 30px 0;
    box-sizing: border-box;
}

.wrapper-flow{
    max-width: 100%;
}

.innerLine {
    background-color: #D5EF9A;
    width: 30px;
    height: 1px;
    border-radius: 5px;
    margin: 10px;
}

