.wrapper {

    border: 1px solid rgba(255, 255, 255, 0.226);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}



input {
    padding: 0;
    width: 100%;
    height: 2rem;
    outline: none;
    border: none;
    background-image: none;
    background-color: rgba(255, 255, 255, 0.116);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 4px;
    padding-left: 12px;
    margin-top: 3px;
    color: rgba(226, 218, 218, 0.849);
}

label {
    color: rgba(255, 255, 255, 0.37);
    font-size: 0.8rem;
}

form {
    width: 100%;
}

small {
    color: #eea653ad;
    margin-bottom: 15px;

}

.input-cont {
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}
.form-title {
    color: rgba(226, 218, 218, 0.849);
    font-weight: 700;
    font-size: 0.7rem;
    margin-bottom: 15px;
}